/* CONTAINER */

.novidades-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    line-height: 1.5em;
}

/* MATERIAS */

.container-materias {
    margin-top: 1.5rem;
}

.materia-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
    position: relative;
}

.materia-item::after {
    content: '';
    width: 100%;
    border: 1px solid rgb(145, 145, 145);
    position: absolute;
    bottom: -1.5rem;
    border-radius: 10px;
}

.materias-item-img {
    width: 100%;
    height: 100%;
    max-width: 330px;
}

.materias-item-img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.materia-tags-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.materia-content h3 {
    margin-bottom: 1rem;
}

.materia-content p {
    margin-bottom: 1rem;
}

/* TAGS */

.tags-item {
    text-align: center;
    font-size: 0.875rem;
    padding: 0.3em 0.5em;
    background-color: var(--fundo-espelhado);
    border-radius: 5px;
}

/* SOBRE */

.sobre-item .novidades-title-div {
    margin-bottom: 1rem;
}

.novidades-title-div-editorial {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.editorial-item p {
    padding: 3px 0;
}

.editorial-item span {
    font-weight: 600;
}

.icon-editorial {
    font-size: 1.5rem;
    padding: 0.5rem;
    position: relative;
}

.icon-editorial i {
    transform: translateY(3px);
    color: var(--vermelho-medio);
    transition: 200ms;
}

.icon-editorial i:hover {
    color: var(--vermelho-vivo);
}

/* REDES SOCIAIS */

.sobre-item:nth-child(3) {
    background-color: var(--fundo-espelhado-cinza);
    width: fit-content;
    padding: 0.8rem;
    border-radius: 5px;
    margin-top: 1rem;
}

.title-redes-sociais h3 {
    color: white;
}

.title-redes-sociais {
    margin-bottom: 1rem;
}

.redes-sociais-container {
    display: flex;
    font-size: 2rem;
    gap: 1rem;
}

/* MEDIA */

@media screen and (max-width: 1200px) {
    .novidades-container {
        grid-template-columns: 1fr;
    }

    .sobre-item:first-child {
        padding: 1rem;
        border-radius: 5px;
        color: #CCC;
        background-color: var(--fundo-espelhado-cinza);
    }

    .sobre-item .novidades-title-div h2 {
        color: white;
    }
}

@media screen and (max-width: 900px) {
    .container-materias {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }

    .materia-item {
        flex-direction: column;
    }

    .materia-item:nth-child(3) {
        display: none;
    }

    .materias-item-img img {
        border-radius: 10px;
        height: auto;
    }
}

@media screen and (max-width: 735px) {
    .container-materias {
        display: block;
    }

    .materias-item-img {
        max-width: 400px;
    }

    .tags-item {
        font-size: 0.750rem;
    }
}