.title-ultimas-avaliacoes {
    padding: 20px 0 !important;
}

.avaliacoes-container {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
}

.avaliacao-div {
    background-color: var(--fundo-espelhado-cinza);
    padding: 20px;
    border-radius: 10px;
    color: #ccc;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}

.avaliacao-div h3 {
    padding: 10px 0 20px 0px;
}

.avaliacao-pessoa-icon {
    color: var(--vermelho-medio);
    padding: 10px;
    background-color: #ffffff2a;
    border-radius: 50%;
    transition: 500ms;
    min-width: 70px;
    min-height: 70px;
    margin: 0 auto;
}

.avaliacao-tempo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pessoa_01 {
    background-image: url(../../img/pessoas/Pessoas_01.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.pessoa_02 {
    background-image: url(../../img/pessoas/Pessoas_02.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.pessoa_03 {
    background-image: url(../../img/pessoas/Pessoas_03.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



@media screen and (min-width: 801px) and (max-width: 1200px) {
    .avaliacoes-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
    }

    .avaliacao-div:nth-child(3) {
        grid-column: 1 / 3;
    }
}

@media screen and (max-width: 800px) {
    .avaliacoes-container {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 500px) {
    .avaliacao-div {
        flex-direction: column;
    }

    .lateral-bar {
        display: none;
    }

    .jealousking-link {
        display: block;
        margin-top: 1rem;
        text-align: center;
    }
}