footer {
    background-color: #030101;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

.footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.footer-div-logo img {
    width: 200px;
    border-radius: 20px 20px 0px 0px;
}

.jealousking-link a {
    color: #007a2b;
}

.jealousking-link a:hover {
    color: #00c946;
}

.footer-div-content {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

.security-policy-link {
    color: #555;
    transition: 400ms;
}

.security-policy-link:hover {
    color: var(--cinza-claro);
    text-decoration: underline;
}

.link-meu-nome {
    color: var(--vermelho-medio);
    transition: 400ms;
}

.link-meu-nome:hover {
    color: var(--vermelho-vivo);
}

@media screen and (max-width: 900px) {
    .footer-section {
        flex-direction: column;
    }

    .footer-div-content {
        flex-direction: column;
        gap: 1rem;
    }
}